body {
    background-color: blanchedalmond;
}

p {
    text-align: justify; /*sorkizárt szövegigazítás vízszintesen*/
    padding: 5px 10px 15px 20px; /*belső margó* - 5px(fent), 10px(jobbra), 15px(lent), 20px(balra)*/
    border: 4px solid black; /*szegély - 4px(vastagság), solid(stílus), black(szín)*/
    margin: 20px; /*külső margó*/
}

h1,h2,p {
    color: brown;
} /*elemkijelölők csoportosítása*/ /*w3schools.com - background-nál tartottam*/

